/* *************************** APP COLOR PALETTE *************************** */
$theme-color-primary: #472aa6;
$theme-color-primary-light: #554ac8;
$theme-color-primary-dark: #1a274a;
$theme-color-secondary: #43d3fd;
$theme-color-tertiary: #f0f0c9;

$theme-color-pwa-light-background: #e3e6fc;

$theme-color-light: #c8d1dd;
$theme-color-white: #fff;

$theme-color-primary-gradient: linear-gradient(180deg, rgba(85, 74, 200, 1) 0%, rgba(71, 42, 166, 1) 100%);
$theme-color-secondary-gradient: linear-gradient(180deg, rgba(67, 211, 253, 1) 0%, rgba(67, 211, 253, 0.6) 100%);
$theme-color-background-light-gradient: linear-gradient(
    180deg,
    rgba(200, 209, 221, 0.35) 0%,
    rgba(200, 209, 221, 0.2) 100%
);
